---
import Link from '@/components/sidebar/Link.astro';
---

<div class="w-fit h-screen flex flex-col gap-1 border-r ly-border-light sticky top-0 left-0 px-16 pl-10 py-20">
    <Link text="Introduction" target="#intro" />
    <Link text="Basic usage" target="#basic" />
    <Link text="Installation" target="#install" />
    <Link text="Form" target="#form" />
    <Link text="Body" target="#body" />
    <Link text="Headers" target="#headers" />
    <Link text="Response" target="#res" />
    <Link text="Error" target="#error" />
    <Link text="Success" target="#success" />
    <Link text="Redirect" target="#redirect" />
    <Link text="Methods" target="#methods" />
</div>
